.DS_Store
.env*
.next
.vercel
*.tsbuildinfo
next-env.d.ts
node_modules

!.env.example

# things not ready for publishing
.agent/*
.agents
.cursor
.direnv
.gemini
.github
.kilocode
.opencode
drafts

!.agent/rules/
!.agent/workflows/